/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

/*type*/
html{
  font-size: 16px;
}
body {
  font-family: "Anonymous Pro", monospace;
  color: #f0f0f0;
  line-height: 1.5rem;
  background: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p{
  padding-bottom: 20px;
}

.site {
  position: relative;
  width: 70vw;
  max-width: 1280px;
  background: #3d3d3d;
  padding: 2vw;
  border-radius: 40px;
  box-shadow: 0px 12px 29px -3px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 12px 29px -3px rgba(0, 0, 0, 0.39);
}
.left-col {
  width: 47%;
  z-index: 1;
}
nav {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #f8c351;
  padding-bottom: 20px;
}

img {
  width: 40%;
  max-width: 500px;
  border-radius: 1000px 1000px 0 0;
  position: absolute;
  bottom: 0;
  right: 40px;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  body{
    background: url(../img/main-img.jpg) #1f1f1f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .left-col {
    width: 100%;
    z-index: 2;
  }
  .site {
    width: 90vw;
    padding: 20px;
    background: #3d3d3dee;
    ;
  }
  img{
    display: none;
  }
}
